<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"	
xmlns:tools="http://schemas.android.com/tools">

	<queries>
        <intent>
            <action android:name="background.work.around.THIRDPARTYAPPS" />
        </intent>
    </queries>

	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_LOCKED_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<!--​I can use this foreground service type, cos I have USE_EXACT_ALARM permission. If this stops working in future, it's recommended to use specialUse type-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
	<uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>	
	<!--​I can use this foreground service type, cos I have USE_EXACT_ALARM permission. If this stops working in future, it's recommended to use specialUse type-->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>	

    <application
        android:label="BackgroundWorkAround"
        android:allowBackup="false"
		android:debuggable="false"
		android:requestLegacyExternalStorage="false"
        android:fullBackupContent="false"
		android:extractNativeLibs="false"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
	
		<service
            android:name="background.work.around.HelperService"
            android:directBootAware="true"
            android:process=":serv11337backgroundworkaround"
            android:stopWithTask="false"
            android:exported="false" />

        <service 
            android:name="background.work.around.RiderService"
            android:directBootAware="true"
			android:process=":rider1337backgroundworkaround"
            android:foregroundServiceType="systemExempted"            
            android:stopWithTask="false"
            android:exported="false" />		

		<receiver android:name="background.work.around.AlarmReceiver" 
            android:process=":alarmrec1337backgroundworkaround"
            android:directBootAware="true"
            android:exported="false">			
            <intent-filter>
                <action android:name="background.work.around.ALARM" />
            </intent-filter>
			<intent-filter android:priority="1000">
               <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
               <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>				
        </receiver>

		<receiver android:name="background.work.around.SecondReceiver" 
            android:process=":secondrec1337backgroundworkaround"
            android:directBootAware="true"
            android:exported="false">			
            <intent-filter>
                <action android:name="background.work.around.SECOND" />
            </intent-filter>					
        </receiver>

		<activity android:name="background.work.around.MainActivity"
            android:exported="true"
            android:directBootAware="true"
            android:process=":act01337backgroundworkaround"
            android:showWhenLocked="true"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true">
		<intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>	

		<service 
            android:name="background.work.around.PrintService"
			android:enabled="true"
			android:label="This is stub. I don't print."
            android:directBootAware="true"
			android:process=":print1337backgroundworkaround"
            android:permission="android.permission.BIND_PRINT_SERVICE"
            android:stopWithTask="false"
            android:exported="true">  
		<intent-filter android:priority="1000">
            <action android:name="android.printservice.PrintService" />
			<category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </service>

		<!--​WARNING! THIS REVEIVER IS EXPORTED!-->    
		<receiver android:name="background.work.around.BootReceiver" 
             android:process=":bootrec1337backgroundworkaround"
             android:directBootAware="true"
             android:exported="true">
		<intent-filter>
            <action android:name="background.work.around.START" />
        </intent-filter>
		<intent-filter>	
		    <action android:name="background.work.around.THIRDPARTYAPPS" />
		</intent-filter>	
		<intent-filter android:priority="1000">
	        <action android:name="android.intent.action.USER_UNLOCKED" />
            <action android:name="android.intent.action.USER_INITIALIZE" />		
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            <action android:name="android.intent.action.SERVICE_STATE" />
            <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            <action android:name="android.intent.action.ANY_DATA_STATE" />
        </intent-filter>
		<intent-filter android:priority="999">
            <action android:name="android.intent.action.REBOOT" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
		    <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            <action android:name="android.intent.action.BATTERY_LOW" />
            <action android:name="android.intent.action.BATTERY_OKAY" />
            <action android:name="android.intent.action.SCREEN_ON" />
            <action android:name="android.intent.action.USER_PRESENT" />
            <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <action android:name="android.intent.action.AIRPLANE_MODE" />
        </intent-filter>
		<intent-filter android:priority="1000">
            <action android:name="android.intent.action.MEDIA_MOUNTED" />
            <action android:name="android.intent.action.MEDIA_READY" />
            <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
            <data android:scheme="file" /> 
        </intent-filter>
		<intent-filter android:priority="999">
            <action android:name="android.intent.action.TIME_SET" />
            <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            <action android:name="android.intent.action.LOCALE_CHANGED" />
        </intent-filter>
		<intent-filter android:priority="999">
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
		</intent-filter>
		<intent-filter android:priority="999">
          <action android:name="android.intent.action.PACKAGE_ADDED" />
          <action android:name="android.intent.action.PACKAGE_REMOVED" />
          <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
          <action android:name="android.intent.action.PACKAGE_REPLACED" />    
          <action android:name="android.intent.action.PACKAGE_CHANGED" />
          <action android:name="android.intent.action.PACKAGE_RESTARTED" />
          <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
          <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />    
          <action android:name="android.intent.action.QUERY_PACKAGE_RESTART" />
          <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION" />
          <action android:name="android.intent.action.PACKAGE_VERIFIED" />
        <data android:scheme="package" />
		</intent-filter>
		<intent-filter>
          <action android:name="android.intent.action.USER_PRESENT" />
          <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />    
          <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
          <action android:name="android.intent.action.DEVICE_STORAGE_OK" />          
        </intent-filter>	
        </receiver>

    </application>
</manifest>
